body
{
    background: url('https://mozorg.cdn.mozilla.net/media/img/firefox/os/have-it-all/gray-pattern.png') fixed;
    
    padding: 0;
    margin: 0;
}

.wrap
{
	margin-top: 25%;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login .btn-group input
{
    width: calc(100% - 25px);
}

form.login .btn-group {
	width: 100%;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}


form.login label, form.login>a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login>a
{
    transition: color 0.5s ease;
}

form.login>a:hover
{
    color: #2ecc71;
}

.faux-item {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #7b8a8b;
	white-space: nowrap;
}

.dropdown-menu.right {
	right: 0;
	top: calc(100% - 2px);
}
#IDexplanation {
	font-size: 12px;
	position: absolute;
	top: 54%;
	left: 61%;
	height: 20px;
	width: 340px;
	background-color: #aae200;
	border-radius: 1pc;
	opacity: 0.7;
	visibility: hidden;
}