#login {
    background: url('../img/lfhs.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100vw;
    padding: 0;
    margin: 0;
}

#login .wrap {
	margin-top: 25%;
}

#login p.form-title {
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#login form {
    width: 250px;
    margin: 0 auto;
}

#login form.login input[value="Sign In"] {
    height: 33px !important;
}

#login form.login .btn-group input {
    width: calc(100% - 25px);
}

#login form.login .btn-group {
	width: 100%;
}

#login form.login label, form.login>a {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

#login form.login>a {
    transition: color 0.5s ease;
}

#login form.login>a:hover {
    color: #149c82;
}

#login .faux-item {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #7b8a8b;
	white-space: nowrap;
}

#login .dropdown-menu.right {
	right: 0;
	top: calc(100% - 2px);
}
