

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.onehundred {
	height: 100%;
}

footer {
	font-size: 10px;
	position: absolute;
	bottom: -5px;
	left: 5px;
	background-color: #fff;
	box-shadow: 5px -5px 5px #fff, 5px 0px 5px #fff;
}

.cordova footer {
	position: static;
}

body {
	 overflow: hidden;
}

td.check {
	width: 37px;
	vertical-align: middle !important;
	text-align: center;
    padding-right: 0px !important;
}
td.check input {
	margin: 0;
}

td.item {
	padding-left: 8px !important;
}

td.course {
	width: 64px !important;
}

td.date {
	width: 64px !important;
}

td.frac {
	width: 64px !important;
}

td.percent {
	width: 64px !important;
	text-align: right;
}

td a {
	color: rgb(44, 62, 80);
	text-decoration: underline;
}

@media(max-width: 768px) {
	body {
		overflow: scroll !important;
	}
}

.courseinfo {
	margin-top: 13px;
}

hr.small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.glyphicon-ok.form-control-feedback {
	color: #149c82 !important;
}

.item.done {
	text-decoration: line-through;
}
#gT1{
	position: absolute;
	left: 17%;
	font-weight: bold;
}
#gT2{
	position: absolute;
	left: 34%;
	font-weight: bold;
}
#gT3{
	position: absolute;
	left: 52%;
	font-weight: bold;
}
body {
        padding-top: 50px;
        padding-bottom: 20px;    }

#mainView {
    margin-top: 30px;
}

.gradeSelector {
    float: right;
    position: absolute;
    top: -45px;
	right: 15px;
}
@media (max-width: 991px) {
    .gradeSelector {
        top: 0px;
    }
}

.gradeSelector .dropdown-menu {
     left: -100px;
}

#logo {
    height: 60px;
	position: relative;
	top: -20px;
}

.cordova-nav-padding {
	display: none;

	height: 19px;
	border-bottom: 1px solid rgb(18, 143, 118);
}

.cordova .cordova-nav-padding {
	display: block;
}

.cordova-only {
	display: none;
}
.cordova .cordova-only {
	display: block !important;
}

.cordova #mainView {
	overflow-x: hidden;
}

.table-striped-inverted > tbody > tr:nth-child(even) > td,
.table-striped-inverted > tbody > tr:nth-child(even) > th {
	background-color: #f9f9f9;
}

.heart {
	color: #bc209c;
}
