<h2>Classes</h2>

<hr>

<div id="classInfo" class="row">
	<div class="col-md-1">
		<div class="btn-group">
			<button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">{{selectedCourse title}} <span class="caret"></span></button>

			<ul class="dropdown-menu">
				{{#each courses}}
					<li class="{{isActive}}"><a href="#">{{title}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<p>{{selectedCourse title}}</p>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
	<strong><h4>Upcoming Assignments/Tests</h4></strong>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th><span class="glyphicon glyphicon-ok"></span></th>
					<th>Title</th>
					<th>Class</th>
					<th>Date</th>
				</tr>
			</thead>
			{{#each assignments}}
				<tr>
					<td class="check"><input type="checkbox" {{isChecked}}></td>
					<td class="item">{{title}}</td>
					<td class="course"><span class="label label-primary">{{class}}</span></td>
					<td class="date">{{date}}</td>
				</tr>
			{{/each}}
		</table>
	</div>
	<div class="col-md-6">
	<h4>Past Assignments</h4>
		<table class="table table-striped table-hover">
			<!-- TODO Make the table scrollable -->
			<!-- TODO Make the table re-sort able -->
			<thead>
				<tr>
					<th>Title</th>
					<th>Percent</th>
					<th>Points</th>
					<th>Date</th>
				</tr>
			</thead>
			{{#each grade}}
				<tr>
					<td>{{title}}/td>
					<td class="percent">{{percent}}</td>
					<td class="frac">{{score}}</td>
					<td class="date">{{date}}</td>
				</tr>
			{{/each}}
		</table>
	</div>
</div>
