<div class="row">
    <div class="col-md-6">

        <!-- GradeSelector -->
        <div class="gradeSelector">
            <div class="btn-group" ng-class="{courseSelectorOpen: open}">
                <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" ng-click="courseSelectorOpen=!courseSelectorOpen">
                    {{ selectedCourse }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="course in courses" ng-class="{active: isSelectedCourse()}">
                        <a ng-click="setSelectedCourse()">{{ course }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>Grades</h2>
        <table class="table table-striped">
            <tr ng-repeat="grade in grades | filter:{ class: selectedCourse }">
                <td class="item" ng-class="{done: assignment.done}">{{ grade.name }}</td>
                <td class="frac">{{ grade.fraction }}</td>
                <td class="percent">{{ grade.percent }}</td>
                <td class="course"><span class="label label-primary">{{ grade.class }}</span></td>
                <td class="date">{{ grade.date }}</td>
            </tr>
        </table>

        <h2>News</h2>
        <table class="table table-striped">
            <tr>
                <td class="check"><span>&bull;</span></td>
                <td class="item"><a href="news?id=">CenterScout Public Beta Now Open!</a></td>
                <td class="date">02/05</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <canvas linechart options="chart.options" data="chart.getData(selectedCourse)" style="width: 100%; height: auto"></canvas>
    </div>
</div>
