<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="wrap">
				<p class="form-title">Welcome to CenterScout</p>
				<form  class="login">
					<input id="id_input" data-toggle="tooltip" data-placement="right" title="Your student ID number that you normally use to log in." placeholder="Student ID" type="text">
					<input id="pass_input" data-toggle="tooltip" data-placement="right" title="The same password you would use to log in to PowerSchool&reg; with" placeholder="Password" type="password">

					<input id="betakey" type="hidden">
					<input id="rememberlength" type="hidden" value="w">

					<div class="btn-group">
						<input class="btn btn-success btn-sm" onclick="javascript:$('#closedBetaModal').modal('show');" type="button" value="Sign In">

						<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						      <span class="caret"></span>
						</button>

						<ul class="dropdown-menu right">
							<li class="faux-item">Remember me for...</li>
							<li class="remembermeitem"><a href="#">10 minutes</a></li>
							<li class="remembermeitem"><a href="#">1 hour</a></li>
							<li class="remembermeitem"><a href="#">1 day</a></li>
							<li class="remembermeitem active"><a href="#">1 week</a></li>
							<li class="remembermeitem"><a href="#">1 year</a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
