<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>Settings</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">General Settings</div>
                    <table class="table table-striped-inverted">
                        <tbody>
                            <tr>
                                <td>Keep me signed in on this computer</td>
                                <td><input type="checkbox" ng-model="generalKeepLogin"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
