<!DOCTYPE html>
<html ng-app="CenterScout">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

        <title>CenterScout</title>
        <meta content="" name="description">
        <meta content="width=device-width" name="viewport">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
            <div class="container">
                <div class="navbar-header">
                    <div class="cordova-nav-padding"></div>
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img id="logo" src="img/CenterScoutLogo.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" ng-if="isSignedIn()">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/grades">Grades</a></li>
                        <li><a href="#/classes">Classes</a></li>
                        <li><a href="#/news">News</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/settings">Settings</a></li>
                                <li class="divider" ng-if="isSignedIn()"></li>
                                <li><a href="#/login" ng-if="isSignedIn()" ng-click="signOut()">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" id="mainView" ng-view>
        </div>
        <footer>
            <p>Made with <span class="heart">&lt;3</span> by Will Franzen and friends &middot; Check out the source code on <a href="https://github.com/LFHS/CenterScout/">GitHub</a>!</p>
        </footer>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/nodoubletap.js"></script>
        <script src="js/chart.js"></script>
        <script src="js/angles.js"></script>

        <script src="js/init.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/providers.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
